@import "tailwindcss";
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Hides it for Chrome, Safari, and Opera */
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* Hides it for IE and Edge */
    scrollbar-width: none;  /* Hides it for Firefox */
  }
}